

name: Auto yt-dlp update

on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch: {}

jobs:
  check-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get latest yt-dlp release tag
        id: yt
        run: |
          latest=$(curl -s https://api.github.com/repos/yt-dlp/yt-dlp/releases/latest | jq -r .tag_name)
          echo "LATEST=$latest" >> $GITHUB_ENV

      - name: Set new tag (vYYYY-MM-DD)
        id: new_tag
        run: |
          NEW_TAG=v$(date +'%Y-%m-%d')
          echo "NEW_TAG=$NEW_TAG" >> $GITHUB_ENV

      - name: Check if tag exists
        id: check_tag
        run: |
          git fetch --tags
          if git rev-parse "$NEW_TAG" >/dev/null 2>&1; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT

      - name: Create new release (tag + release on GitHub)
        if: steps.check_tag.outputs.exists == 'false'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.NEW_TAG }}
          name: "yt-dlp update ${{ env.NEW_TAG }}"
          body: |
            Automated update: latest yt-dlp version ${{ env.LATEST }} dla synology DSM
          allow_updates: true

